<div class="container">
  <div class="row py-2 icon">
    <div class="col-lg-8 col-md-5">
      <span class="fs-6 "><i class="bi bi-arrow-down-up"></i></span>
    </div>
    <div class="col-lg-4 col-md-7 fs-5 float-end">
      <i class="bi bi-megaphone-fill px-2"></i>
      <i class="fa-solid fa-user px-2"></i>
      <i class="fa-brands fa-whatsapp px-2"></i>
      <i class="fa-solid fa-comment-dots px-2"></i>
      <i class="fa-solid fa-envelope px-2"></i>
      <i class="fa-solid fa-repeat px-2"></i>
      <i class="fa-solid fa-download px-2"></i>
      <i class="fa-solid fa-bars px-2"></i>
      <i class="fa-solid fa-filter px-2 justify-content-end"></i>
    </div>
  </div>
  <!--first Card -->
  <div class="card">
    <div class=" row py-3 px-5">
      <div class="col-lg-3 col-md-3">
        <p>Ramesh Dudejha</p>
        <h5>9998881113</h5>
      </div>
      <div class="col-lg-6 drop col-md-3 icon">
        <select>
          <option selected>Follow-up</option>
          <option>Value-1</option>
        </select>
        <i class="fa-solid fa-user px-2"></i><span>0</span>
        <i class="fa-brands fa-whatsapp px-2"></i><span>5</span>
        <i class="fa-solid fa-comment-dots px-2"></i><span>7</span>
        <i class="fa-solid fa-envelope px-2"></i> <span>4</span>
      </div>
      <div class="col-lg-3 col-md-6 icon">
        <i class="fa-solid fa-user px-2"></i>
        <i class="fa-brands fa-whatsapp px-2"></i>
        <i class="fa-solid fa-comment-dots px-2"></i>
        <i class="fa-solid fa-envelope px-2"></i>
        <i class="fa-solid fa-repeat px-2"></i>
        <i class="fa-solid fa-download px-2"></i>

      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 ">
          <p>CONVERTIBILITY</p>
          <h5>test</h5>
        </div>
        <div class="col-lg-3 col-md-3">
          <p>ENQUIRY SOURCE</p>
          <h5>Googleleads</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>ENQUIRY TYPE </p>
          <h5>Online Leads</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>RESPONSE</p>
          <h5> Call back leter-inter....</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 ">
          <p>CAMPAIGN NAME </p>
          <h5>API Lead</h5>
        </div>

        <div class="col-lg-3 col-md-3  ">
          <p>CENTER </p>
          <h5> Pune</h5>
        </div>
        <div class="col-lg-3 col-md-3 ">
          <p>COURSE </p>
          <h5> Course 1</h5>
        </div>
        <div class="col-lg-3 col-md-3 ">
          <p> BATCH TYPE </p>
          <h5> Regular batch</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 ">
          <p> LANGUAGE</p>
          <h5>English</h5>
        </div>

        <div class="col-lg-3 col-md-3  ">
          <p> LEAD CREATION DATE </p>
          <h5>JUL 9,2021 3:51 PM</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>LEAD MODIFICATION DATE </p>
          <h5> AUG 6,2021 5:39 PM</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p> NEXT ACTION DATE</p>
          <h5>AUG 10,2021 12:00 AM</h5>
        </div>
      </div>

      <div class="row ">
        <div class="col-lg-3 col-md-3">
          <p> REMARKS </p>
          <h5> NULL</h5>
        </div>

        <div class="col-lg-3 col-md-3 ">
          <p>PREVIOUS LEAD OWNER </p>
          <h5>ExtraEdge Admin</h5>
        </div>
        <div class="col-lg-3 col-md-3 ">
          <p> Assigned To</p>
          <h5>ExtraEdge Admin</h5>
        </div>
        <div class="col-lg-3 col-md-3 ">
          <p>Followup comments </p>
          <h5>Followup Date change...</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- second card -->
  <div class="card mt-3 px-1">
    <div class=" row py-3 px-5">
      <div class="col-lg-5 col-md-5">
        <p>Testsmita</p>
        <h5>9998881113</h5>
      </div>
      <div class="col-lg-4 col-md-4 icon">
        <select>
          <option selected>Follow-up</option>
          <option>Value-1</option>
        </select>
        <i class="fa-solid fa-user px-2"></i><span>0</span>
        <i class="fa-brands fa-whatsapp px-2"></i><span>5</span>
        <i class="fa-solid fa-comment-dots px-2"></i><span>7</span>
        <i class="fa-solid fa-envelope px-2"></i> <span>4</span>
      </div>
      <div class="col-lg-3 col-md-3 icon">
        <i class="fa-solid fa-user px-2"></i>
        <i class="fa-brands fa-whatsapp px-2"></i>
        <i class="fa-solid fa-comment-dots px-2"></i>
        <i class="fa-solid fa-envelope px-2"></i>
        <i class="fa-solid fa-repeat px-2"></i>
        <i class="fa-solid fa-download px-2"></i>
      </div>
      <div class="row mt-4 ">
        <div class="col-lg-3 col-md-3 ">
          <p> CONVERTIBILITY</p>
          <h5> HOT</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>ENQUIRY SOURCE</p>
          <h5>NOT KNOWN</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>ENQUIRY TYPE</p>
          <h5>Telephonic Quick Add</h5>
        </div>
        <div class="col-lg-3 col-md-3  ">
          <p>RESPONSE</p>
          <h5> Not Called Full Fees....</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- side button -->
<div class="plusbtn float-end btn-group-vertical px-2">
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-circle-plus fs-1 py-3 icon"></i></a>
  <a href="#"><i class="fa-solid fa-circle-arrow-up fs-1 icon"></i></a>
</div>
<!-- bootstrap popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><b>Quick Add</b></h3>
        <button type="button" class="btn-close" (click)="onClose()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section>
          <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
            <div class="row">
              <div class="col-sm-6">
                <div class="formgroup mb-2">
                  <label for="">Name</label>
                  <input type="text" class="form-control" formControlName="fname" required
                    [ngClass]="{'is-invalid': isSubmitted && f.fname.errors}" placeholder="First Name is required">
                  <div *ngIf="isSubmitted && f.fname.errors?.required" class="invalid-feedback">First Name is required
                  </div>
                  <p class="text-danger" *ngIf="f.fname.invalid && f.fname.errors?.pattern">please enter correct name
                  </p>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Email</label>
                  <input type="text" class="form-control" formControlName="email" required
                    [ngClass]="{'is-invalid': isSubmitted && f.email.errors}" placeholder="Email is required">
                  <div *ngIf="isSubmitted && f.email.errors?.required" class="invalid-feedback">Email is required</div>
                  <div *ngIf="isSubmitted && f.email.errors?.pattern" class="invalid-feedback">Please Enter valid email.
                  </div>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Enquiry Type</label>
                  <div class="form-group">
                    <select id="" class="form-select" formControlName="enqtype" reqired
                      [ngClass]="{'is-invalid': isSubmitted && f.enqtype.errors}">
                      <option selected>Select Enquiry type</option>
                      <option>Value-1</option>
                    </select>
                    <div *ngIf="isSubmitted && f.enqtype.errors?.required" class="invalid-feedback">Enqiry Type is
                      required
                    </div>
                  </div>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Center</label>
                  <div class="form-group">
                    <select id="" class="form-select" formControlName="center" reqired
                      [ngClass]="{'is-invalid': isSubmitted && f.center.errors}">
                      <option selected>Select center</option>
                      <option>Value-1</option>
                    </select>
                    <div *ngIf="isSubmitted && f.center.errors?.required" class="invalid-feedback">Center is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="formgroup mb-2">
                  <label for="">Last Name</label>
                  <input type="text" class="form-control" formControlName="lname" required
                    [ngClass]="{'is-invalid': isSubmitted && f.lname.errors}" placeholder="Last Name is required">
                  <div *ngIf="isSubmitted && f.lname.errors?.required" class="invalid-feedback">Last Name is required
                  </div>
                  <p class="text-danger" *ngIf="f.lname.invalid && f.lname.errors?.pattern">please enter correct Last
                    name</p>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Mobile</label>
                  <input type="text" class="form-control" formControlName="mobaile" required
                    [ngClass]="{'is-invalid': isSubmitted && f.mobaile.errors}" placeholder="Mobile is required">
                  <div *ngIf="isSubmitted && f.mobaile.errors?.required" class="invalid-feedback">Mobile is required
                  </div>
                  <p class="text-danger" *ngIf="f.mobaile.invalid && f.lname.errors?.pattern">please enter valid mobile
                    number</p>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Enquiry source</label>
                  <div class="form-group">
                    <select id="" class="form-select" formControlName="enqsource" reqired
                      [ngClass]="{'is-invalid': isSubmitted && f.enqsource.errors}">
                      <option selected>Select Enquiry source</option>
                      <option>Value-1</option>
                    </select>
                    <div *ngIf="isSubmitted && f.enqsource.errors?.required" class="invalid-feedback">Enquiry source is
                      required
                    </div>
                  </div>
                </div>
                <div class="formgroup mb-2">
                  <label for="">Course</label>
                  <div class="form-group">
                    <select id="" class="form-select" formControlName="course" reqired
                      [ngClass]="{'is-invalid': isSubmitted && f.course.errors}">
                      <option selected>Select course</option>
                      <option>Value-1</option>
                    </select>
                    <div *ngIf="isSubmitted && f.course.errors?.required" class="invalid-feedback">course is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="formgroup mb-2">
                <label for="">Remarks</label>
                <input type="text" class="form-control" formControlName="remark" required
                  [ngClass]="{'is-invalid': isSubmitted && f.remark.errors}" placeholder="Remarks is required">
                <div *ngIf="isSubmitted && f.remark.errors?.required" class="invalid-feedback">Remarks is required</div>
              </div>
            </div>
            <div class="formgroup mb-2 d-flex py-2">
              <div class="seand mail">
                <input type="checkbox">
                <label for="">Seand Wellcome Mail</label>
              </div>
              <div class="seand sms px-2">
                <input type="checkbox">
                <label for="">Seand Wellcome SMS</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-warning" (click)="onSubmit()">Save & Close</button>
              <button class="btn btn-warning" (click)="onSubmitForm()">Save & Add More</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
<div>
  <button mat-stroked-button color="warn"  (click)="openDilog()">Dialog Button</button>
</div>