.active{
    background-color: orange;
    border-bottom: 1px solid orange;
    color: white;
}
.mat-sidenav-container {
    width: auto;
    height: 650px;
   
    /* border: 1px solid #555; */
    /* color: green; */
  }
  .mat-sidenav
{
    background-color:whitesmoke;
    /* color: green; */
} 
.nav-item{
    color: green;
}