<!-- <nav class="navbar navbar-expand-sm bg-light mt-2">
    <div class="container">
      <ul class="nav navbar-nav" style="border-bottom: 1px solid red;">
        <li class="nav-item px-3 " routerLinkActive="active rounded">
          <a class="nav-link " routerLink="navall">All</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link " routerLink="navfresh">Fresh</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navfollowup">Fallow-up</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navwalkin">Walkin</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navinfuture">In Future</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navenrolled">Enrolled</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navclosed">Closed</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navreferdforme">Referred from me</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navreenqured">Re-Enquired</a>
        </li>
        <li class="nav-item px-3" routerLinkActive="active rounded">
          <a class="nav-link" routerLink="navonline">Online</a>
        </li>
      </ul>
    </div>
  </nav>
   -->

 




<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <ul class="nav navbar-nav">
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="liadlist"><i class="bi bi-person-plus-fill me-2"></i>Lead List</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link " routerLink="myfolluup"><i class="bii bi-chat-left-text-fill me-2"></i>My Followups</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="chatlist"><i class="fa-solid fa-gear me-2"></i>Chat List</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="failedlead"> <i class="fa-solid fa-user-xmark me-2"></i>Failed Leads</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="marketing"> <i class="fa-solid fa-bullhorn me-2"></i>Marketing</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="dripmarketing"><i class="fa-solid fa-spa me-2"></i>Drip Marketing</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="report"><i class="fa-solid fa-chart-area me-2"></i>Report</a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active rounded">
        <a class="nav-link" routerLink="setting"><i class="fa-solid fa-gear me-2"></i>Setting</a>
      </li>

    </ul>

  </mat-drawer>
  <mat-drawer-content>
    <nav class="navbar navbar-expand-sm bg-light">
      <div>
        <ul class="nav navbar-nav" style="border-bottom: 1px solid red;">
          <li class="nav-item px-3 " routerLinkActive="active rounded">
            <a class="nav-link " routerLink="navall">All</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link " routerLink="navfresh">Fresh</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navfollowup">Fallow-up</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navwalkin">Walkin</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navinfuture">In Future</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navenrolled">Enrolled</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navclosed">Closed</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navreferdforme">Referred from me</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navreenqured">Re-Enquired</a>
          </li>
          <li class="nav-item px-3" routerLinkActive="active rounded">
            <a class="nav-link" routerLink="navonline">Online</a>
          </li>
        </ul>

      </div>

    </nav>

    <app-main></app-main>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container> -->

<div class="card">
 
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened" class="mx-2">
        close
      </mat-icon>
    </button>

    <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav">
        <div>
          <ul class="nav navbar-nav">
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="liadlist"><i class="bi bi-person-plus-fill me-2"></i>Lead List</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link " routerLink="myfolluup"><i class="bii bi-chat-left-text-fill me-2"></i>My Followups</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="chatlist"><i class="fa-solid fa-gear me-2"></i>Chat List</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="failedlead"> <i class="fa-solid fa-user-xmark me-2"></i>Failed Leads</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="marketing"> <i class="fa-solid fa-bullhorn me-2"></i>Marketing</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="dripmarketing"><i class="fa-solid fa-spa me-2"></i>Drip Marketing</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="report"><i class="fa-solid fa-chart-area me-2"></i>Report</a>
            </li>
            <li class="nav-item p-1" routerLinkActive="active rounded">
              <a class="nav-link" routerLink="setting"><i class="fa-solid fa-gear me-2"></i>Setting</a>
            </li>      
          </ul>      
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="content">
          <nav class="navbar navbar-expand-sm bg-light">
            <div>
              <ul class="nav navbar-nav" style="border-bottom: 1px solid orange;">
                <li class="nav-item px-3 " routerLinkActive="active rounded">
                  <a class="nav-link " routerLink="navall">All</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link " routerLink="navfresh">Fresh</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navfollowup">Fallow-up</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navwalkin">Walkin</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navinfuture">In Future</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navenrolled">Enrolled</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navclosed">Closed</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navreferdforme">Referred from me</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navreenqured">Re-Enquired</a>
                </li>
                <li class="nav-item px-3" routerLinkActive="active rounded">
                  <a class="nav-link" routerLink="navonline">Online</a>
                </li>
              </ul>      
            </div>      
          </nav>      
        </div>      
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
