<h2 mat-dialog-title>Quick Add</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Enqiry Type</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Center</mat-label>
          <mat-select>
            <mat-option value="one">Pune</mat-option>
            <mat-option value="two">Mumbai</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="mobile">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Enqiry Source</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Course</mat-label>
          <mat-select>
            <mat-option value="one">BCA</mat-option>
            <mat-option value="two">MCA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Remark</mat-label>
      <input matInput placeholder="Remark">
    </mat-form-field>
    <div class="checkbox">
      <section class="section">
        <mat-checkbox class="margin">Seand Wellcome SMS</mat-checkbox>
      </section>
      <section class="section">
        <mat-checkbox class="margin">Seand Wellcome Mail</mat-checkbox>
      </section>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button>Save & Close</button>
  <button mat-raised-button color="warn">Save & Add More</button>
</mat-dialog-actions>




